body {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gridContainer{
    border-style: solid;
    border-width: 3px;
    border-color: black;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;


}
.dimentions{
    margin: 15px;
    width: 200px;
    height: 30px;

}
.red{
    height: 25px;
    width: 30px;
    background-color: red;
    border-radius: 5px;
}
.green{
    height: 25px;
    width: 30px;
    background-color: green;
    border-radius: 5px;
}
.blue{
    height: 25px;
    width: 30px;
    background-color: blue;
    border-radius: 5px;
}
.container{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 15px;
}